<table border="0" cellspacing="0" style="margin-top:30px;">
	<thead>
		<tr>
			<th>Channel</th>
			<th>Views</th>
			<th>Likes:Dislikes Ratio</th>
			<th>Likes/1000 views</th>
			<th>Subs/1000 views</th>
			<th>Comments/1000 views</th>
			<th>Shares/1000 views</th>					
		</tr>			
	</thead>
	<tbody>
		{% for row in stats_table %}
		<tr class="{{ loop.cycle('odd', 'even') }}">
			<td>{{row.channel}}</td>
			<td class="num">{{row.views|int|intcomma}}</td>
			<td class="num">{{row.like_ratio|int|intcomma}}:{{row.dislike_ratio|int|intcomma}} (<span style="{% if row.previous_percentage_like_ratio > 0 %}color:green;{% else %}color:red;{% endif %}">{{row.previous_percentage_like_ratio|round(1)|intcomma}}%</span>)</td>
			<td class="num">{{row.like_rate|round(1)|intcomma}} (<span style="{% if row.previous_percentage_like_rate > 0 %}color:green;{% else %}color:red;{% endif %}">{{row.previous_percentage_like_rate|round(1)|intcomma}}%</span>)</td>
			<td class="num">{{row.subs_rate|round(1)|intcomma}} (<span style="{% if row.previous_percentage_subs_rate > 0 %}color:green;{% else %}color:red;{% endif %}">{{row.previous_percentage_subs_rate|round(1)|intcomma}}%</span>)</td>
			<td class="num">{{row.comment_rate|round(1)|intcomma}} (<span style="{% if row.previous_percentage_comment_rate > 0 %}color:green;{% else %}color:red;{% endif %}">{{row.previous_percentage_comment_rate|round(1)|intcomma}}%</span>)</td>
			<td class="num">{{row.shares_rate|round(1)|intcomma}} (<span style="{% if row.previous_percentage_shares_rate > 0 %}color:green;{% else %}color:red;{% endif %}">{{row.previous_percentage_shares_rate|round(1)|intcomma}}%</span>)</td>

		</tr>
		{% endfor %}
	</tbody>
</table>
