*.p12
config.py
docs/_build
*.py-oauth2.json
*.pyc
*.json
credentials.py
daily.sh
env/
monthly.sh
notes.do.not.commit
send_email.py
weekly.sh
*.swp

schedule.db
report_schedule.py
*.egg-info/
youtube_credentials.json
