<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
	</head>
<body>
	<style>
	body, p, td, th {
		font-family: sans-serif;
		text-align: left;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	tr.odd td, tr.odd th {
		background-color: #f0f2f4;
	}
	thead th {
		border-bottom: 1px solid #d0d9e0;
	}
	tr.site td, tr.site th {
		border-top: 1px solid #d0d9e0;
	}
	tr.site td, tr.site th {
		font-weight: bold;
		padding-top: 1em;
	}
	td.num {
		text-align: right;
	}
	</style>
	<h1>
		Gamer Network analytics dash
	</h1>
	<p>
		{{ start_date }} - {{ end_date }}
		({% if period == "month" %}1 month{% else %}{{ period }} days{% endif %})
	</p>
	<table border="0" cellspacing="0">
		<tr>
			<th>Total network pageviews</th><td class="num">{{ total_pageviews }}</td>
		</tr>
	</table>
	<h2>
		Site summary
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th>Site</th>
				<th>Visitors</th>
				<th>Pages</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="{% cycle 'odd' 'even' %}">
					<th>{{ site.name }}</th>
					<td class="num">{{ site.totals.visitors }}</td>
					<td class="num">{{ site.totals.pageviews }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>
		Country summary
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th>Country</th>
				<th>Pages</th>
			</tr>
		</thead>
		<tbody>
			{% for country in countries %}
				<tr class="{% cycle 'odd' 'even' %}">
					<th>{{ country.name }}</th>
					<td class="num">{{ country.pageviews }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>
		Site/country breakdown
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th>Site</th>
				<th>Country</th>
				<th>Visitors</th>
				<th>Pages</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="site">
					<th rowspan="{{ site.countries|length|add:2  }}">{{ site.name }}</th>
					<td>Total</td>
					<td class="num">{{ site.totals.visitors }}</td>
					<td class="num">{{ site.totals.pageviews }}</td>
				</tr>
				{% for country in site.countries %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>{{ country.name }}</td>
						<td class="num">{{ country.metrics.visitors }}</td>
						<td class="num">{{ country.metrics.pageviews }}</td>
					</tr>
				{% endfor %}
				<tr class="site">
					<td>Total</td>
					<td class="num">{{ site.totals.visitors }}</td>
					<td class="num">{{ site.totals.pageviews }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h4>Email confidentiality notice.</h4>
	<p>
		This message is private and is entirely confidential. If you have received this message in error, please notify us and remove it from your system.
	</p>
</html>
