google
-e .
argparse==1.4.0
beautifulsoup4>=4.8.2,<5.0
cairosvg
click
cssutils==1.0.*
google-api-python-client==1.*
google-auth
google-auth-oauthlib
Jinja2==2.11.*
mock
nose
premailer==3.6.1
pygal
python-dateutil
requests
simplejson==3.6.*
tendo==0.2.*
