{% extends "base.html" %}


{% if warning_sites|length > 0 %}<p>We are missing some data for the following sites: {% for site in warning %}{{site|capitalize}}, {% endfor %}</p>{% endif %}

{# 
{% if num_sites == total_num_sites %}{% if warning|length > 0 %}<p>We are missing some data for the following sites: {% for site in warning %}{{site|capfirst}}, {% endfor %}</p>{% endif %}{% endif %}
{% if num_sites == 1 %}{% for site in warning %}{% if site in site_names %}<p>We are missing some data for this site.</p>{% endif %}{% endfor %}{% endif %}
 #}    


{% block body %}

{% if summary_table %}{% include "GA/summary_table.html" with context %}{% endif %}
{% if site == "Gamer Network" %}
    {% if geo_table %}{% include "GA/geo_table.html" %}{% endif %}
    {% if site_summary %}{% include "GA/site_summary_table.html" %}{% endif %}
{% endif %}
{% if top_articles %}{% include "GA/article_table.html" %}{% endif %}
{% if traffic_table %}{% include "GA/traffic_table.html" %}{% endif %}
{% if device_table %}{% include "GA/device_table.html" %}{% endif %}
{% if social_table %}{% include "GA/social_table.html" %}{% endif %}
    
{% endblock %}