<h2>Site summary</h2>
<table border="0" cellspacing="0">
	<thead>
		<tr>
			<th rowspan="2">Site</th>
			<th colspan="3">Visitors</th>
			<th colspan="3">Pageviews</th>
			<th rowspan="2">P/V</th>
		</tr>
		<tr>
			<th>Abs.</th>
			<th>+/- {{ change }}</th>		
			<th>+/- YoY</th>
			<th>Abs.</th>
			<th>+/- {{ change }}</th>
			<th>+/- YoY</th>
		</tr>
	</thead>
	<tbody>
		{% for row in site_summary %}
			<tr class="{{ loop.cycle('odd', 'even') }}">
				<th>{{ row.site|title }}</th>
				<td class="num">{{ row.users|int|intcomma }}</td>
				<td class="num"><span style="color: {% if row.previous_percentage_users > 0 %}green{% else %}red{% endif %};">{{row.previous_percentage_users|round(1)}}%</span></td>
				<td class="num"><span style="color: {% if row.yearly_percentage_users > 0 %}green{% else %}red{% endif %};">{{row.yearly_percentage_users|round(1)}}%</span></td>					
				<td class="num">{{ row.pageviews|int|intcomma }}</td>
				<td class="num"><span style="color: {% if row.previous_percentage_pageviews > 0 %}green{% else %}red{% endif %};">{{row.previous_percentage_pageviews|round(1)}}%</span></td>
				<td class="num"><span style="color: {% if row.yearly_percentage_pageviews > 0 %}green{% else %}red{% endif %};">{{row.yearly_percentage_pageviews|round(1)}}%</span></td>
				<td class="num">{{ (row.pageviews|int / row.users|int)|round(1) }}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
