<h2>Site performance tracker</h2>
<table border="0" cellspacing="0">
    <thead>
		<tr>
			<th rowspan="2">Site</th>
            <th colspan="4">2018</th>
            <th colspan="4">2019</th>
            <th colspan="4">2020</th>
		</tr>
		<tr>
            {% for year in [2018, 2019, 2020]%}
                <th>Visitors</th>
                <th>+/- YoY</th>
                <th>Pageviews</th>
                <th>+/- YoY</th>
            {% endfor %}
		</tr>
    </thead>

    <tbody>
        {% for year in [2018, 2019, 2020]%}
            {% for row in tracker_table %}
                <tr class="{{ loop.cycle('odd', 'even') }}">
                    <th>{{ row.site|title }}</th>
                    <td class="num">{{ row.users|int|intcomma }}</td>
                    <td class="num"><span style="color: {% if row.yearly_percentage_users > 0 %}green{% else %}red{% endif %};">{{row.yearly_percentage_users|round(1)}}%</span></td>
                    <td class="num">{{ row.pageviews|int|intcomma }}</td>
                    <td class="num"><span style="color: {% if row.yearly_percentage_pageviews > 0 %}green{% else %}red{% endif %};">{{row.yearly_percentage_pageviews|round(1)}}%</span></td>
                </tr>
            {% endfor %}
		{% endfor %}
    </tbody>

</table>
