{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
	</head>
<body>
	<h2>Country summary</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th rowspan="2">Country</th>
				<th colspan="{% if report_span == 'monthly' %}3{% else %}2{% endif %}">Pageviews</th>
				<th colspan="{% if report_span == 'monthly' %}3{% else %}2{% endif %}">Visitors</th>				
				<th rowspan="2">P/V</th>
			</tr>
			<tr>
				<th>Abs.</th>
				<th>+/- {{ report_span|get_report_change }}</th>
				{% if report_span == 'monthly' %}<th>+/- YoY</th>{% endif %}
				<th>Abs.</th>
				<th>+/- {{ report_span|get_report_change }}</th>
				{% if report_span == 'monthly' %}<th>+/- YoY</th>{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for country in countries %}
				<tr class="{% cycle 'odd' 'even' %}">
					<th>{{ country.dimensions.name }}</th>
										
					<td class="num">{{ country.metrics.pageviews|intcomma }}</td>
					<td class="num" style="color: {% if country.metrics.change_pageviews > 0 %}green{% else %}red{% endif %};">{{ country.metrics.change_pageviews|as_percentage_of:country.metrics.pageviews  }}</td>
					{% if report_span == 'monthly' %}<td class="num" style="color: {% if country.yoy_metrics.pageviews_change > 0 %}green{% else %}red{% endif %};">{{ country.yoy_metrics.pageviews_change|as_percentage_of:country.metrics.pageviews }}</td>{% endif %}
					
					<td class="num">{{ country.metrics.visitors|intcomma }}</td>
					<td class="num" style="color: {% if country.metrics.change_visitors > 0 %}green{% else %}red{% endif %};">{{ country.metrics.change_visitors|as_percentage_of:country.metrics.visitors }}</td>
					{% if report_span == 'monthly' %}<td class="num" style="color: {% if country.yoy_metrics.visitors_change > 0 %}green{% else %}red{% endif %};">{{ country.yoy_metrics.visitors_change|as_percentage_of:country.metrics.visitors }}</td>{% endif %}					
					
					<td class="num">{{ country.metrics.pageviews|pages_per_visitor:country.metrics.visitors }}</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>
</body>

