{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
	</head>
<body>
    <h2>Where our traffic came from</h2>
    <p>Shows the number of visitors referred from a specific source and the type of referral (medium). Note that Facebook is split into desktop and mobile.</p> 
    <table border="0" cellspacing="0">
        <thead>
            <tr class = 'column_header'>
                <th> Source / Medium </th>

                <th> Page Views </th>
                <th> {{ report_span|get_report_change }} Pageviews Change </th>
                <th> Percentage of Total Pageviews </th> 
                
                <th> Visitors </th>
                <th> {{ report_span|get_report_change }} Visitors Change </th>
                <th> Percentage of Total Visitors </th>                
            </tr>
        </thead>
        <tbody>
            {% for source in traffic_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <th> {{source.dimensions.source}} </th>

                    <td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_pageviews > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_pageviews|as_percentage_of:source.metrics.pageviews}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|as_percentage_of:period_totals.first_period.pageviews}} </td>
                    
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.visitors}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:period_totals.first_period.visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>      
    </table>    
    <h3>Top Referring Sites</h3>
    <p>Top sites (that aren't social networks) and the articles they've linked to.</p>
    <table border="0" cellspacing="0">
        <thead>
            <tr class = 'column_header'>
                <th> Source </th>
                <th> Page Views </th>
                <th> Top Article Linked to </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in site_referrals.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <th> {{key}} </th>
                <td class="num">{{site_total_pvs|look_up:key|intcomma}}</td>
                <td class = "src">{% for article in value %}<span><a href="http://{{article.dimensions.host}}{{article.dimensions.path}}">{{article.dimensions.title}}</a></span> {% endfor %}</td>
                <!--<td class="num">{% for article in value %}<span>{{article.metrics.pageviews}}</span> {% endfor %}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
