<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
	</head>
<body>
	<style>
	body, p, td, th {
		font-family: sans-serif;
		text-align: left;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	tr.odd td, tr.odd th {
		background-color: #f0f2f4;
	}
	thead th {
		border-bottom: 1px solid #d0d9e0;
		vertical-align: middle;
	}
	tr.site td, tr.site th {
		border-top: 1px solid #d0d9e0;
	}
	tr.site td, tr.site th {
		font-weight: bold;
		padding-top: 1em;
	}
	tr.total td, tr.total th {
		border-top: 1px solid #d0d9e0;
	}
	tr.total td, tr.total th {
		padding-bottom: 1em;
	}
	td.num {
		text-align: right;
	}
	.dup {
		color: #906060;
	}
	</style>
	<h1>
		Gamer Network analytics dash
	</h1>
	<p>
		{{ start_date }} - {{ end_date }}
		({% if period == "month" %}1 month{% else %}{{ period }} days{% endif %})
	</p>
	<p>All values are sampled at between 3% and 7% total traffic, and therefore composite values, such as visitors per territory, will exhibit cumulative errors.</p>
	<p>Values in <span class="dup">pink</span> will have visitor duplication overcount.</p>
	<h2>
		Network summary
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<td></td>
				<th>Duplicated</th>
				<th>De-duplicated from rollup</th>
			</tr>
		</thead>
		<tbody>
			<tr class="odd">
				<th>Total network pageviews</th>
				<td class="num">{{ totals.pageviews }}</td>
				<td class="num">{{ rollup.totals.pageviews }}</td>
			</tr>
			<tr class="even">
				<th>Total network visitors</th>
				<td class="num dup">{{ totals.visitors }}</td>
				<td class="num">{{ rollup.totals.visitors }}</td>
			</tr>
			<tr class="odd">
				<th>Average network P/V</th>
				<td class="num dup">{{ totals.pageviews|pages_per_visitor:totals.visitors }}</td>
				<td class="num">{{ rollup.totals.pageviews|pages_per_visitor:rollup.totals.visitors }}</td>
			</tr>
		</tbody>
	</table>
	<h2>
		Site summary
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th rowspan="2">Site</th>
				<th colspan="3">Pages</th>
				<th colspan="3">Visitors</th>
				<th rowspan="2">P/V</th>
			</tr>
			<tr>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="{% cycle 'odd' 'even' %}">
					<th>{{ site.name }}</th>
					<td class="num">{{ site.totals.pageviews }}</td>
					<td class="num">{{ site.totals.pageviews|as_percentage_of:totals.pageviews }}</td>
					<td class="num">{{ site.cum.pageviews|as_percentage_of:totals.pageviews }}</td>
					<td class="num">{{ site.totals.visitors }}</td>
					<td class="num">{{ site.totals.visitors|as_percentage_of:totals.visitors }}</td>
					<td class="num">{{ site.cum.visitors|as_percentage_of:totals.visitors }}</td>
					<td class="num">{{ site.totals.pageviews|pages_per_visitor:site.totals.visitors }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>
		Country summary
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th rowspan="2">Country</th>
				<th colspan="3">Pages</th>
				<th colspan="3">Visitors</th>
				<th rowspan="2">P/V</th>
				<th colspan="3">Roll-up pages</th>
				<th colspan="3">Roll-up visitors</th>
				<th rowspan="2">Roll-up P/V</th>
			</tr>
			<tr>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
				<th>Abs.</th>
				<th>%</th>
				<th>Cum. %</th>
			</tr>
		</thead>
		<tbody>
			{% for country in countries %}
				<tr class="{% cycle 'odd' 'even' %}">
					<th>{{ country.name }}</th>
					<td class="num">{{ country.metrics.pageviews }}</td>
					<td class="num">{{ country.metrics.pageviews|as_percentage_of:totals.pageviews }}</td>
					<td class="num">{{ country.cum.pageviews|as_percentage_of:totals.pageviews }}</td>
					<td class="num dup">{{ country.metrics.visitors }}</td>
					<td class="num dup">{{ country.metrics.visitors|as_percentage_of:totals.visitors }}</td>
					<td class="num dup">{{ country.cum.visitors|as_percentage_of:totals.visitors }}</td>
					<td class="num dup">{{ country.metrics.pageviews|pages_per_visitor:country.metrics.visitors }}</td>
					<td class="num">{{ country.rollup.pageviews }}</td>
					<td class="num">{{ country.rollup.pageviews|as_percentage_of:rollup.totals.pageviews }}</td>
					<td class="num">{{ country.rollup.cum.pageviews|as_percentage_of:rollup.totals.pageviews }}</td>
					<td class="num">{{ country.rollup.visitors }}</td>
					<td class="num">{{ country.rollup.visitors|as_percentage_of:rollup.totals.visitors }}</td>
					<td class="num">{{ country.rollup.cum.visitors|as_percentage_of:rollup.totals.visitors }}</td>
					<td class="num">{{ country.rollup.pageviews|pages_per_visitor:country.rollup.visitors }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h2>
		Site/country breakdown
	</h2>
	<table border="0" cellspacing="0">
		<thead>
			<tr>
				<th rowspan="2">Site</th>
				<th rowspan="2">Country</th>
				<th colspan="2">Pages</th>
				<th colspan="2">Visitors</th>
				<th rowspan="2">P/V</th>
			</tr>
			<tr>
				<th>Abs.</th>
				<th>%</th>
				<th>Abs.</th>
				<th>%</th>
			</tr>
		</thead>
		<tbody>
			{% for site in sites %}
				<tr class="site">
					<th rowspan="{{ site.countries|length|add:2  }}">{{ site.name }}</th>
					<td>Total</td>
					<td class="num">{{ site.totals.pageviews }}</td>
					<td></td>
					<td class="num">{{ site.totals.visitors }}</td>
					<td></td>
					<td class="num">avg. {{ site.totals.pageviews|pages_per_visitor:site.totals.visitors }}</td>
				</tr>
				{% for country in site.countries %}
					<tr class="{% cycle 'odd' 'even' %}">
						<td>{{ country.name }}</td>
						<td class="num">{{ country.metrics.pageviews }}</td>
						<td class="num">{{ country.metrics.pageviews|as_percentage_of:site.totals.pageviews }}</td>
						<td class="num">{{ country.metrics.visitors }}</td>
						<td class="num">{{ country.metrics.visitors|as_percentage_of:site.totals.visitors }}</td>
						<td class="num">{{ country.metrics.pageviews|pages_per_visitor:country.metrics.visitors }}</td>
					</tr>
				{% endfor %}
				<tr class="total">
					<td>Total</td>
					<td class="num">{{ site.totals.pageviews }}</td>
					<td></td>
					<td class="num">{{ site.totals.visitors }}</td>
					<td></td>
					<td class="num">avg. {{ site.totals.pageviews|pages_per_visitor:site.totals.visitors }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<h4>Email confidentiality notice.</h4>
	<p>
		This message is private and is entirely confidential. If you have received this message in error, please notify us and remove it from your system.
	</p>
</html>
