{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
	</head>
<body>
	<style>
	body, p{
		font-family: sans-serif;
		text-align: left;
		font-weight: normal;
	}
	thead th{
    	border-bottom: 1px solid #d0d9e0;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	th.src {
    	font-weight: lighter;
	}
	td.num {
    	text-align: right;
	}
	
	tr.odd {
    	background-color: #f0f2f4;
	}	
	
	tr.even {
    	
	}
    span  {
        display: list-item;
        list-style-type: none;
	}	
	img {
    	margin: 0.2em;
	}

	</style>
    <h1>{{subject}}</h1>
    

    <p>This data is confidential and for employees of {% if num_sites == 1 %}your site{% else %}Gamer Network{% endif %} only. Do not transmit outside the company. </p>

    {% include "template_sections/overview_monthly_table.html" %}

    {% if num_sites == total_num_sites %}
          
      {% include "template_sections/site_summary_table.html" with sites=network_data totals=metric_totals %}
    
      {% include "template_sections/country_summary_table.html" with countries=country_data totals=metric_totals %}
      
    {% endif %}
		
    {% include "template_sections/article_table.html" with data=top_articles %}

    {% include "template_sections/traffic_summary_table.html" %}
      
    
    <h2> 
        Devices 
    </h2>
    <p>
        Shows the number of visitors using each device.
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Device Category </th>
                <th> Visitors </th>
                <th> YoY Change </th>
                <th> Percentage of Visitors </th>
            </tr>
        </thead>
        <tbody>
            {% for source in devices_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class = 'src'> {{source.dimensions.deviceCategory}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.visitors}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:period_totals.first_period.visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
       
    </table>
    
    {% if report_span == 'monthly' %}
      <h3> Monthly device trend </h3>
      <img alt="embedded image" src ="cid:{{img_name.device}}" />
    {% endif %}
    
    <h2> 
        Social Networks 
    </h2> 
    <p> 
        The number of visitors to {% if num_sites == 1 %}your site{% else %}our sites{% endif %} who came via a social network.
    </p>
    <p>
        Total Visitors that come from social networks: <b>{{period_totals.first_period.social_visitors|intcomma}}</b>
    </p>
    <p>
        Percentage of total visitors that come from social networks: <b>{{period_totals.first_period.social_visitors|as_percentage_of:period_totals.first_period.visitors}}</b>
    </p>
    {% include "template_sections/social_network_table.html" with social_list=social_list %}

</body>
