{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
	</head>
<body>
	<style>
	body, p{
		font-family: sans-serif;
		text-align: left;
		font-weight: normal;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	th.src {
    	font-weight: lighter;
	}
	td.num {
    	text-align: right;
	}	

	</style>
    <h1>{{report_span|capfirst}} Report </h1>
    <p> 
        Between the period : {{start_date}} - {{end_date}} 
    </p>
    <p>
        For {% if num_sites == 24 %} all sites in network {% else %}{% for name in site_names %} {{name}} {% endfor %}{% endif %} 
    <h2>
        Overview
    </h2>
    <table>
        <thead>
            <tr>
                <th> Total Visitors </th>
                <th> Total Page Views </th>
                <th> Average Pages/Visitor </th>
                <th> Average Time Spent on Site </th>
                {% if num_sites == 1 %}
                <th> Peak Cumulative Visitors </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{totals.first_period.visitors|intcomma|cut:".0"}} </td>
                <td> {{totals.first_period.pageviews|intcomma|cut:".0"}} </td>
                <td> {{totals.first_period.pv_per_session|floatformat}} </td>
                <td> {{totals.first_period.avg_time|floatformat}} minutes </td>
                {% if num_sites == 1 %}
                <td> {{peak.sessions|intcomma}} on {{peak.day}} at {{peak.hour}}:{{peak.minute}}</td>
                {% endif %}
            <tr>
            <tr>
                <td style="color: {% if totals.change.visitors > 0 %}green{% else %}red{% endif %};"> {{totals.change.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                <td style="color: {% if totals.change.pageviews > 0 %}green{% else %}red{% endif %};"> {{totals.change.pageviews|as_percentage_of:totals.first_period.pageviews}}</td>
                <td style="color: {% if totals.change.pv_per_session > 0 %}green{% else %}red{% endif %};"> {{totals.change.pv_per_session|as_percentage_of:totals.first_period.pv_per_session}} </td>
                <td style="color: {% if totals.change.avg_time > 0 %}green{% else %}red{% endif %};"> {{totals.change.avg_time|as_percentage_of:totals.first_period.avg_time}} </td>
                <td>  </td>
            <tr>  
            <tr>
                <td> {{totals.second_period.visitors|intcomma|cut:".0"}} </td>
                <td> {{totals.second_period.pageviews|intcomma|cut:".0"}} </td>
                <td> {{totals.second_period.pv_per_session|floatformat}} </td>
                <td> {{totals.second_period.avg_time|floatformat}} minutes </td>
                <!--<td> {{totals.peak|intcomma}}</td>-->
            <tr>             
        </tbody>
    </table>
       
    <h2> 
        Traffic Sourcing 
    </h2>
    <p> 
        Shows the number of visitors referred from a specific source and the type of referral (medium). 
    </p> 
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Source / Medium </th>
                <th> Visitors </th>
                <th> Page Views </th>
                <th> Percentage of Total Visitors </th>
                <th> Percentage of Total Pageviews </th>
                <th> {{report_span|capfirst}} Visitors Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in traffic_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.source}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|as_percentage_of:totals.first_period.pageviews}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.second_visitors}} </td>
            {% endfor %}
        </tbody>
        
    </table>
    <img src ={{img_path.traffic}} />
    
    <p>
        Top Site Referrals
    </p>
    <table>
        <thead>
            <tr>
                <th> Source </th>
                <th> Top Article Linked to </th>
                <th> Page Views </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in site_referrals.items %}
            <tr>
                <td> {{key}} </td>
                <td> {% for article in value %}<p>{{article.dimensions.title}}</p> {% endfor %}</td>
                <td> {% for article in value %}<p>{{article.metrics.pageviews}}</p> {% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <h2> 
        Devices 
    </h2>
    <p>
        Shows the number of visitors using each device and then for each browser.
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Device Category </th>
                <th> Visitors </th>
                <th> Percentage of Visitors </th>
                <th> {{report_span|capfirst}} Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in devices_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.deviceCategory}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
       
    </table>
    <img src ={{img_path.device}} />
    <!--<table>
        <thead>
            <tr class = 'column_header'>
                <th> Browser </th>
                <th> Visitors </th>
                <th> Percentage of Visitors </th>
                <th> Day to Day Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in browsers_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.browser}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.visitors}} </td>
                    <td class = 'num'> {{source.metrics.change|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
       
    </table>
    <img src ={{img_path.browser}} />-->
    <h2> 
        Social Networks 
    </h2> 
    <p> 
        Shows the number of visitors being referred from social networks.
    </p>
    <p>
        Total Visitors use social networks: {{totals.first_period.social_visitors}}
    </p>
    <p>
        Percentage of total visitors that use social networks: {{totals.first_period.social_visitors|as_percentage_of:totals.first_period.visitors}}
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Social Network </th>
                <th> Visitors </th>
                <th> Percentage of Total Social Visitors </th>
                <th> Page Views </th>
                <th> Top Linked Article </th>
            </tr>
        </thead>
        <tbody>
            {% for source in social_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.socialNetwork}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.social_visitors}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>
                {% for k, v in social_articles.items %}
                    {% if source.dimensions.socialNetwork == k %}
                    <td class = 'src'>
                        {% for article in v %}
                            <p> {{article.dimensions.title}} </p>
                        {% endfor %}
                    </td> 
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <img src ={{img_path.social}} />
    
</body>
