{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
	</head>
<body>
	<style>
	body, p{
		font-family: sans-serif;
		text-align: left;
		font-weight: normal;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	th.src {
    	font-weight: lighter;
	}
	td.num {
    	text-align: right;
	}	

	</style>
    <h1>Traffic Source Analytics </h1>
    <p> 
        Between the period : {{start_date}} - {{end_date}} 
    </p>
    <h2> 
        Traffic Sourcing 
    </h2>
    <p> 
        Shows the number of visitors referred from a specific source and the type of referral (medium). 
    </p>
    <p> 
        Total visitors :  {{totals.visitors}}
        Total pageviews : {{totals.pageviews}} 
    </p>    
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Source / Medium </th>
                <th> Visitors </th>
                <th> Page Views </th>
                <th> Percentage of Total Visitors </th>
                <th> Percentage of Total Pageviews </th>
                <th> Day to Day Visitors Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in traffic_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.source}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.visitors}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|as_percentage_of:totals.pageviews}} </td>
                    <td class = 'num'> {{source.metrics.change|as_percentage_of:source.metrics.second_visitors}} </td>
            {% endfor %}
        </tbody>
        
    </table>
    <img src ={{img_path.traffic}} />
    <h2> 
        Devices 
    </h2>
    <p>
        Shows the number of visitors using each device, browser and operating system.
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Device Category </th>
                <th> Browser </th>
                <th> Operating System </th>
                <th> Visitors </th>
                <th> Percentage of Visitors </th>
                <th> Day to Day Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in devices_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.device_category}} </td>
                    <td class = 'src'> {{source.dimensions.browser}}</td>
                    <td class = 'src'> {{source.dimensions.os}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.visitors}} </td>
                    <td class = 'num'> {{source.metrics.change|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
       
    </table>
    <img src ={{img_path.device}} />
    <h2> 
        Social Networks 
    </h2> 
    <p> 
        Shows the number of visitors being referred from social networks.
    </p>
    <p>
        Total Visitors use social networks: {{totals.socials}}
    </p>
    <p>
        Percentage of visitors use social networks: {{totals.socials|as_percentage_of:totals.visitors}}
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Social Network </th>
                <th> Visitors </th>
                <th> Percentage of Visitors </th>
                <th> Day to Day Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in social_list %}
                <tr>
                    <td class = 'src'> {{source.dimensions.socialNetwork}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.socials}} </td>
                    <td class = 'num'> {{source.metrics.change|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <img src ={{img_path.social}} />
    
</body>
