{% load humanize %}
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="UTF-8">
	</head>
<body>
	<style>
	body, p{
		font-family: sans-serif;
		text-align: left;
		font-weight: normal;
	}
	thead th{
    	border-bottom: 1px solid #d0d9e0;
	}
	td, th {
		padding: 0.3em 1em 0.3em 0.5em;
		vertical-align: top;
	}
	th.src {
    	font-weight: lighter;
	}
	td.num {
    	text-align: right;
	}
	
	tr.odd {
    	background-color: #f0f2f4;
	}	
	
	tr.even {
    	
	}
    span  {
        display: list-item;
        list-style-type: none;
	}	
	img {
    	margin: 0.2em;
	}

	</style>
    <h1>{{report_span|capfirst}} Report </h1>
    <p> 
        Between the period : {{start_date}} - {{end_date}} 
    </p>
    <p>
        For {% if num_sites == 24 %} all sites in network {% else %}{% for name in site_names %} {{name|capfirst}} {% endfor %}{% endif %} 
    </p>
    <h2>
        Overview
    </h2>
    <p>
        {% if num_sites == 1 %} Peak Cumulative Sessions : {{peak.sessions|intcomma}} sessions on {{peak.day}} at {{peak.hour}}:{{peak.minute}} {% endif %}
    </p>
    <table>
        <thead>
            <tr>
                <th></th>
                <th> Total Visitors </th>
                <th> Total Page Views </th>
                <th> Average Pages/Visitor </th>
                <th> Average Time Spent on Site </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd">
                <th> Current Data </th>
                <td> {{totals.first_period.visitors|intcomma|cut:".0"}} </td>
                <td> {{totals.first_period.pageviews|intcomma|cut:".0"}} </td>
                <td> {{totals.first_period.pv_per_session|floatformat}} </td>
                <td> {{totals.first_period.avg_time|floatformat}} minutes </td>
            </tr>
            <tr class="even">
                <th> {{report_span|capfirst}} Percentage Change </th>
                <td style="color: {% if totals.change.visitors > 0 %}green{% else %}red{% endif %};"> {{totals.change.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                <td style="color: {% if totals.change.pageviews > 0 %}green{% else %}red{% endif %};"> {{totals.change.pageviews|as_percentage_of:totals.first_period.pageviews}}</td>
                <td style="color: {% if totals.change.pv_per_session > 0 %}green{% else %}red{% endif %};"> {{totals.change.pv_per_session|as_percentage_of:totals.first_period.pv_per_session}} </td>
                <td style="color: {% if totals.change.avg_time > 0 %}green{% else %}red{% endif %};"> {{totals.change.avg_time|as_percentage_of:totals.first_period.avg_time}} </td>
            </tr>  
            <tr class="odd">
                <th> Previous Data </th>
                <td> {{totals.second_period.visitors|intcomma|cut:".0"}} </td>
                <td> {{totals.second_period.pageviews|intcomma|cut:".0"}} </td>
                <td> {{totals.second_period.pv_per_session|floatformat}} </td>
                <td> {{totals.second_period.avg_time|floatformat}} minutes </td>
            <tr>             
        </tbody>
    </table>
    {% if num_sites > 1 %}
        <h3>Peak Cumulative Graph </h3> 
        <img alt="embedded image" src ="cid:{{img_name.peak}}" />    
    {% endif %}
    <h2> 
        Traffic Sourcing 
    </h2>
    <p> 
        Shows the number of visitors referred from a specific source and the type of referral (medium). 
    </p> 
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Source / Medium </th>
                <th> Visitors </th>
                <th> Page Views </th>
                <th> Percentage of Total Visitors </th>
                <th> Percentage of Total Pageviews </th>
                <th> {{report_span|capfirst}} Visitors Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in traffic_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class = 'src'> {{source.dimensions.source}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                    <td class = 'num'> {{source.metrics.pageviews|as_percentage_of:totals.first_period.pageviews}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    
    <h3>
        Top Site Referrals
    </h3>
    <p>
        Top sites with the top articles they've linked to
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Source </th>
                <th> Top Article Linked to </th>
                <th> Page Views </th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in site_referrals.items %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td> {{key}} </td>
                <td class = "src">{% for article in value %}<span>{{article.dimensions.title}}</span> {% endfor %}</td>
                <td class="num">{% for article in value %}<span>{{article.metrics.pageviews}}</span> {% endfor %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    <h2> 
        Devices 
    </h2>
    <p>
        Shows the number of visitors using each device.
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Device Category </th>
                <th> Visitors </th>
                <th> Percentage of Visitors </th>
                <th> {{report_span|capfirst}} Change </th>
            </tr>
        </thead>
        <tbody>
            {% for source in devices_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class = 'src'> {{source.dimensions.deviceCategory}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.visitors}} </td>
                    <td class = 'num' style="color: {% if source.metrics.change_visitors > 0 %}green{% else %}red{% endif %};"> {{source.metrics.change_visitors|as_percentage_of:source.metrics.second_visitors}} </td>
                </tr>
            {% endfor %}
        </tbody>
       
    </table>
    <h3> Monthly device trend </h3>
    <img alt="embedded image" src ="cid:{{img_name.device}}" />
    <h2> 
        Social Networks 
    </h2> 
    <p> 
        Shows the number of visitors being referred from social networks.
    </p>
    <p>
        Total Visitors use social networks: <b>{{totals.first_period.social_visitors|intcomma}}</b>
    </p>
    <p>
        Percentage of total visitors that use social networks: <b>{{totals.first_period.social_visitors|as_percentage_of:totals.first_period.visitors}}</b>
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Social Network </th>
                <th> Visitors </th>
                <th> Percentage of Total Social Visitors </th>
                <th> Page Views per Article</th>
                <th> Top Linked Article </th>
            </tr>
        </thead>
        <tbody>
            {% for source in social_list %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td class = 'src'> {{source.dimensions.socialNetwork}} </td>
                    <td class = 'num'> {{source.metrics.visitors|intcomma}} </td>
                    <td class = 'num'> {{source.metrics.visitors|as_percentage_of:totals.first_period.social_visitors}} </td>
                    <!--<td class = 'num'> {{source.metrics.pageviews|intcomma}} </td>-->
                {% for k, v in social_articles.items %}
                    {% if source.dimensions.socialNetwork == k %}
                        <td class = 'num'> 
                        {% for article in v %}
                            <span>{{article.metrics.pageviews|intcomma}}</span>
                        {% endfor %}
                        </td>
                        <td class = 'src'>
                        {% for article in v %}
                            <span> {{article.dimensions.title}} </span>
                        {% endfor %}
                        </td> 
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% if report_span == 'weekly' %} <img alt="embedded image" src ="cid:{{img_name.social}}" /> {% endif %}
    <h2> 
        Top Ten Articles 
    </h2>
    <p>
        Top articles during the period
    </p>
    <table>
        <thead>
            <tr class = 'column_header'>
                <th> Site </th>
                <th> Title </th>
                <th> Page Views </th>
                <th> {{report_span|capfirst}} Change </th>
            </tr>
        </thead>
        <tbody>
            {% for article in top_articles %}
            <tr class="{% cycle 'odd' 'even' %}">
                <td class="src">{{article.dimensions.host|cut:"www."|cut:".com"|capfirst}}</td>
                <td class="src">{{article.dimensions.title}}</td>
                <td class="num">{{article.metrics.pageviews|intcomma}}</td>
                <td class="num">{% if article.metrics.change_pageviews == 0 %}--{% else %}<span style="color: {% if article.metrics.change_pageviews > 0 %}green{% else %}red{% endif %};">{{article.metrics.change_pageviews|as_percentage_of:article.metrics.second_pageviews}}</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
